<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Salamander | Dashboard</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <style>
      section#content {
        table {
          table-layout: fixed;
          width: 100%;
          text-align: center;
          border-collapse: collapse;

          th {
            background-color: #00c795;
            padding: 1rem 0rem;
          }

          td {
            border-bottom: 1px solid grey;
            word-wrap: break-word;

            &:nth-child(3) {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

          img {
            aspect-ratio: 1 / 1;
            width: 100%;
            height: auto;
          }

          tbody tr {
            cursor: pointer;
          }
        }
      }

      .section-header {
        a {
          height: fit-content;
          padding: 0.5rem 1rem;
          border-radius: 50px;
          border: 1px solid transparent;
          background-color: #55e480;
        }

        #content-categories {
          display: flex;
          gap: 1.5rem;

          h3.active {
            font-weight: bold;
            color: black;
          }

          h3:not(.active) {
            font-weight: normal;
            color: grey;
            cursor: pointer;
          }
        }
      }
    </style>
  </head>

  <body>
    <%- include("../partials/navbar") %>

    <section id="dashboard">
      <%- include("../partials/sidebar") %>

      <section id="content">
        <div class="section-header">
          <h3>Auctions Won History</h3>
        </div>

        <table>
          <thead>
            <tr>
              <th>Thumbnail</th>
              <th>Product Name</th>
              <th>Description</th>
              <th>Final Bid</th>
              <th>Auction Start</th>
              <th>Auction End</th>
            </tr>
          </thead>

          <tbody>
            <% if (products.length === 0) { %>
            <tr>
              <td colspan="6">You have not won any products.</td>
            </tr>
            <% } else { %> <% for (let product of products) { %>
            <tr
              onclick="window.open('/market/view/<%= product.id %>', '_blank');"
            >
              <td>
                <img
                  src="/market/view/<%= product.id %>/<%= product.thumbnail_id %>"
                  alt="<%= product.thumbnail %>"
                />
              </td>
              <td><%= product.name %></td>
              <td><%= product.desc %></td>
              <td>$ <%= product.price %></td>
              <td>
                <%= product.start.toLocaleDateString() %>
                <br />
                <%= product.start.toLocaleTimeString() %>
              </td>
              <td>
                <%= product.close.toLocaleDateString() %>
                <br />
                <%= product.close.toLocaleTimeString() %>
              </td>
            </tr>
            <% } %> <% } %>
          </tbody>
        </table>
      </section>
    </section>

    <script></script>
  </body>
</html>
