<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Marketplace</title>

    <link rel="stylesheet" href="/style.css" />
    <style></style>
  </head>

  <body>
    <h1>product</h1>

    <section id="market">
      <% if (error !== undefined) { %>
      <div><%= error %></div>
      <% } else if (product === undefined) { %>
      <div>no product...</div>
      <% } else { %>
      <div><%= product.name %></div>
      <div><%= product.desc %></div>
      <div><%= product.seller %></div>
      <div><%= product.start %></div>
      <div><%= product.close %></div>
      <div><%= product.price %></div>

      <div><%= product.images %></div>

      <% for (let image of product.images) { %>
      <img src="/products/<%= image %>" />
      <% } %> <% } %>
    </section>
  </body>
</html>
